{% comment %}
  Renders a product card with an image, title, description, price, details link, and buy button.

  Accepts:
  - product: {Object} The product object containing information about the product.
  - product_image_size: {String} The size to which the product image should be resized.
  - product_title_bold: {Boolean} Determines if the product title should be bold.
  - product_card_spacing: {String} The margin around the product card.
  - product_card_h_padding: {String} The horizontal padding inside the product card.
  - product_card_t_padding: {String} The top padding inside the product card.
  - product_card_b_padding: {String} The bottom padding inside the product card.
  - product_card_gap: {String} The gap between elements inside the product card.

  Usage:
  Include this snippet in any section or template by using the {% render %} tag and passing the required parameters. Example:

  {% render 'product-card',
    product: product,
    product_image_size: '250px',
    product_title_bold: true,
    product_card_spacing: '10px',
    product_card_h_padding: '15px',
    product_card_t_padding: '20px',
    product_card_b_padding: '20px',
    product_card_gap: '5px'
  %}
{% endcomment %}

<div class="product-card-{{ section.id }}">
  <div class="product-image-{{ section.id }}">
    {{
      product.featured_image
      | image_url: height: product_image_size
      | image_tag: alt: product.title
      | link_to: product.url
    }}
  </div>

  <div class="product-info-{{ section.id }}">
    <div class="product-title-{{ section.id }} tidbit">
      {% if product_title_bold %}
        <h3>
          <strong>{{ product.title }}</strong>
        </h3>
      {% else %}
        <h3>{{ product.title }}</h3>
      {% endif %}
    </div>

    <div class="product-description-{{ section.id }} tidbit">
      {{ product.metafields.custom.shortdesc.value }}
    </div>

    <div class="product-price-{{ section.id }} tidbit">
      {{ product.price | money }}
    </div>

    <div class="product-link-{{ section.id }} tidbit">
      <strong
        ><a href="{{ product.url }}" class="btn">{{ 'View details >>' }}</a></strong
      >
    </div>

    <div class="product-buy-button-{{ section.id }} tidbit">{% render 'buy-buttons', product: product %}</div>
  </div>
</div>

{% style %}
     .product-card-{{ section.id }} {
       display: flex;
       margin: {{ product_card_margin }}px;
       padding-left: {{ product_card_h_padding }}px;
       padding-right: {{ product_card_h_padding }}px;
       padding-top: {{ product_card_t_padding }}px;
       padding-bottom: {{ product_card_b_padding }}px;
       gap: {{ product_card_gap }}px;
       box-shadow: 0px 0px 3px #ABABAB;
     }

     .product-image-{{ section.id }} {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }

    /* Additional styles for image hover effect */
    .product-image-{{ section.id }} img {
      transition: transform 0.3s ease; /* Smooth transition for the transform effect */
    }

    .product-image-{{ section.id }}:hover img {
      transform: scale(1.05); /* Slightly enlarge the image on hover */
    }

     .product-info-{{ section.id }} {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding-top: 1%;
       padding-bottom: 2%;
       width: 250px;
       font-size: 0.9em;
       {% comment %} letter-spacing: -0.5px; {% endcomment %}
     }

     .product-description-{{ section.id }} {
       overflow: hidden;
       display: -webkit-box;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 3; /* Adjust the number of lines */
       text-overflow: ellipsis;
       color: rgb(var(--color-foreground));
       line-height: 1.3em;
     }
  {% comment %}
     .preorder-button {
       background-color: #BD765A; /* Rectangle color */
       color: white; /* Text color */
       font-size: 0.7em; /* Font size */
       padding: 5px 10px; /* Padding inside the button */
       border: none; /* No border */
       border-radius: 5px; /* Rounded corners */
       align-self: flex-start;
       transform: translate(3em, 5em);
       {% comment %} transform: translateX(55px); {% endcomment %}
     } {% endcomment %}

     .product-price-{{ section.id }} {
       color: rgb(var(--color-price));
       font-weight: 600;
     }

     .product-link-{{ section.id }} * {
       color: rgb(var(--color-link));
     }

     h3 {
       margin: 0px;
       font-size: 1.3em;
     }
{% endstyle %}
