{% comment %}
  Renders a product card
  Accepts:

  card_product: {Object} Product Liquid object (optional)
  media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  show_vendor: {Boolean} Show the product vendor. Default: false
  show_rating: {Boolean} Show the product rating. Default: false
  extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  quick_add: {Boolean} Show the quick add button.
  section_id: {String} The ID of the section that contains this card.
  horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional) Usage: {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{%- if card_product and card_product != empty -%}
  <div class="card-wrapper product-card-wrapper">
    <div class="card card--standard">
      <div class="card__inner color-{{ settings.card_color_scheme }} ratio" style="--ratio-percent: 100%;">
        <div class="card__media">
          <div class="media media--transparent">
            {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
            <img
              srcset=" {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%} {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%} {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%} {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%} {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%} {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%} {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w "
              src="{{ card_product.featured_media | image_url: width: 533 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ card_product.featured_media.alt | escape }}"
              class="motion-reduce"
              {% unless lazy_load == false %}
                loading="lazy"
              {% endunless %}
              width="{{ card_product.featured_media.width }}"
              height="{{ card_product.featured_media.height }}"
            >
            {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h5">
            <a href="{{ card_product.url }}" class="full-unstyled-link"> {{ card_product.title | escape }} </a>
          </h3>
          <div class="card-information">
            <p class="card__description">{{ card_product.description | strip_html | truncatewords: 20 }}</p>
            {% render 'price', product: card_product, price_class: 'card__price', show_compare_at_price: false %}
          </div>
        </div>
        <div class="card__badge">
          {%- if card_product.available == false -%}
            <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">
              {{- 'products.product.sold_out' | t -}}
            </span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">
              {{- 'products.product.on_sale' | t -}}
            </span>
          {%- endif -%}
        </div>
      </div>
      <div class="card__badge">
        <button class="button button--secondary card__cta">{{ 'products.product.add_to_cart' | t }}</button>
      </div>
    </div>
  </div>
{%- else -%}
  <div class="card-wrapper product-card-wrapper">
    <div class="card card--standard color-{{ settings.card_color_scheme }}">
      <div class="card__inner ratio" style="--ratio-percent: 100%;">
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading h5">
              <a role="link" aria-disabled="true" class="full-unstyled-link"> {{ 'onboarding.product_title' | t }} </a>
            </h3>
            <div class="card-information">
              {% comment %}
                <p class="card__description">{{ 'onboarding.product_description' | t }}</p>
                <div class="card__price">
                  <span>{{ 'onboarding.product_price' | t }}</span>
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="card__badge">
        <button class="button button--secondary card__cta" disabled>{{ 'products.product.add_to_cart' | t }}</button>
      </div>
    </div>
  </div>
  </div>
{%- endif -%}
