{% schema %}
{
  "name": "Custom Featured Product",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Featured Product"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": "Title Font Size",
      "min": 18,
      "max": 54,
      "step": 2,
      "default": 36,
      "unit": "pt"
    },
    {
      "type": "range",
      "id": "product_image_size",
      "label": "Product Image Size",
      "min": 100,
      "max": 600,
      "step": 10,
      "default": 400,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_card_gap",
      "label": "Product Card Internal Gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price",
      "default": true
    },
    {
      "type": "range",
      "id": "section_margin",
      "label": "Section Margin",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Custom Featured Product"
    }
  ]
}
{% endschema %}

{% style %}
  .custom-featured-product-{{ section.id }} {
  margin-top: {{ section.settings.section_margin }}px;
  margin-bottom: {{ section.settings.section_margin }}px;
  }

  .product-card-{{ section.id }} {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: {{ section.settings.product_card_gap }}px;
  }

  .product-image-{{ section.id }} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: {{ section.settings.product_image_size }}px;
  box-shadow: 0px 0px 10px darkgray;
  }

  .product-info-{{ section.id }} {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: px;
  max-width: {{ section.settings.product_image_size }}px;
  }

  .product-title-{{ section.id }} * {
    margin: 0;
  }
  .product-description-{{ section.id }} {
  /* color: rgb(var(--color-text); */
  }

  .product-price-{{ section.id }} {
  color: rgb(var(--color-price));
  font-weight: 600;
  }

  .product-link-{{ section.id }} * {
  color: rgb(var(--color-link));
  font-size: 0.9em;
  }
  .product-buy-button-{{ section.id }} {
  width: 250px;
  }
{% endstyle %}

{% assign product = section.settings.product %}

<section class="color-{{ section.settings.color_scheme }} custom-featured-product-{{ section.id }}">
  <div class="product-card-{{ section.id }}">
    <div class="product-image-{{ section.id }}">
      {{
        product.featured_image
        | image_url: height: section.settings.product_image_size
        | image_tag: alt: product.title
      }}
    </div>

    <div class="product-info-{{ section.id }}">
      <div class="product-title-{{ section.id }}">
        <span>{{ section.settings.title }}</span>
      </div>

      <div class="product-description-{{ section.id }}">
        {{ product.description }}
      </div>

      <div class="product-price-{{ section.id }}">
        {{ product.price | money }}
      </div>

      <div class="product-buy-button-{{ section.id }}">{% render 'buy-buttons', product: product %}</div>
    </div>
  </div>
</section>
