{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top Margin",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Title Text alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title Text Size",
      "options": [
        {
          "value": "s",
          "label": "Small"
        },
        {
          "value": "m",
          "label": "Medium"
        },
        {
          "value": "l",
          "label": "Large"
        }
      ],
      "default": "l"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_2",
      "label": "Color Scheme"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "number",
      "id": "max_rows",
      "label": "Maximum Number of Rows",
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "view_more",
      "label": "Show View More Products",
      "default": true
    },
    {
      "type": "range",
      "id": "product_image_size",
      "label": "Product Image Size",
      "min": 100,
      "max": 400,
      "step": 10,
      "default": 250,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_card_h_padding",
      "label": "Product Card Horizontal Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_card_t_padding",
      "label": "Product Card Top Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_card_b_padding",
      "label": "Product Card Bottom Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 30,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_card_gap",
      "label": "Product Card Internal Gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "product_title_bold",
      "label": "Bold Product Title",
      "default": true
    },
    {
      "type": "range",
      "id": "product_card_margin",
      "label": "Product Card Margin",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 20,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}

<style>
  .section-{{ section.id }} {
    margin-top: {{ section.settings.margin_top }}px;
  }

  .header {
    display: block;
    text-align: {{ section.settings.alignment }};
  }

  .header * {
    margin: 0px;
  }

  .product-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: {{ settings.page_width }}px;
    margin: 0 auto;
  }

  .view-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .view-more a {
  {% comment %} remove underline from link text {% endcomment %}
  color: rgb(var(--color-link));
  text-decoration: none;
  }

  a:hover {
    color: rgb(var(--color-price));
  }

  .preorder-button {
    background-color: #BD765A; /* Rectangle color */
    color: white; /* Text color */
    font-size: 0.7em; /* Font size */
    padding: 5px 10px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    align-self: flex-start;
    transform: translate(3em, 5em);
    {% comment %} transform: translateX(55px); {% endcomment %}
  }

  .product-card-container {
    margin-top: -30px;
  }
</style>

{% assign max_products = section.settings.max_rows | times: 2 %}

<section class="color-{{ section.settings.color_scheme }} featured-products section-{{ section.id }}">
  <div class="header">
    {% if section.settings.title_size == 's' %}
      <h3>{{ section.settings.section_title }}</h3>
    {% elsif section.settings.title_size == 'm' %}
      <h2>{{ section.settings.section_title }}</h2>
    {% elsif section.settings.title_size == 'l' %}
      <h1>{{ section.settings.section_title }}</h1>
    {% endif %}
  </div>

  <div class="product-grid">
    {% for product in section.settings.collection.products limit: max_products %}
      {% if product.tags contains 'preorder' %}
        <div class="product-card-container">
          <button class="preorder-button">Pre-Order</button>
          {% render 'new-product-card',
            product: product,
            product_image_size: section.settings.product_image_size,
            product_title_bold: section.settings.product_title_bold,
            product_card_margin: section.settings.product_card_margin,
            product_card_h_padding: section.settings.product_card_h_padding,
            product_card_t_padding: section.settings.product_card_t_padding,
            product_card_b_padding: section.settings.product_card_b_padding,
            product_card_gap: section.settings.product_card_gap,
            color_scheme: section.settings.color_scheme
          %}
        </div>
      {% else %}
        {% render 'new-product-card',
          product: product,
          product_image_size: section.settings.product_image_size,
          product_title_bold: section.settings.product_title_bold,
          product_card_margin: section.settings.product_card_margin,
          product_card_h_padding: section.settings.product_card_h_padding,
          product_card_t_padding: section.settings.product_card_t_padding,
          product_card_b_padding: section.settings.product_card_b_padding,
          product_card_gap: section.settings.product_card_gap,
          color_scheme: section.settings.color_scheme
        %}
      {% endif %}
    {% endfor %}
  </div>

  {% if section.settings.view_more %}
    <div class="view-more">
      {{ 'View all >>' | link_to: section.settings.collection.url }}
    </div>
  {% endif %}
</section>
