{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top Margin",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Title Text alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title Text Size",
      "options": [
        {
          "value": "s",
          "label": "Small"
        },
        {
          "value": "m",
          "label": "Medium"
        },
        {
          "value": "l",
          "label": "Large"
        }
      ],
      "default": "l"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_2",
      "label": "Color Scheme"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "number",
      "id": "max_rows",
      "label": "Maximum Number of Rows",
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "view_more",
      "label": "Show View More Products",
      "default": true
    },
    {
      "type": "range",
      "id": "product_image_size",
      "label": "Product Image Size",
      "min": 100,
      "max": 400,
      "step": 10,
      "default": 250,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_card_h_padding",
      "label": "Product Card Horizontal Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_card_t_padding",
      "label": "Product Card Top Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_card_b_padding",
      "label": "Product Card Bottom Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 30,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_card_gap",
      "label": "Product Card Internal Gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "product_title_bold",
      "label": "Bold Product Title",
      "default": true
    },
    {
      "type": "range",
      "id": "product_card_margin",
      "label": "Product Card Margin",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 20,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}

{% style %}
  .section-{{ section.id }} {
    margin-top: {{ section.settings.margin_top }}px;
  }

  .header-{{ section.id }} {
    display: block;
    text-align: {{ section.settings.alignment }};
    margin-bottom: 1em;
  }

  .header-{{ section.id }} * {
    margin: 0px;
  }

  .grid-container-{{ section.id }} {
    display: flex;
    justify-content: center;
  }

  .product-grid-{{ section.id }} {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns:  repeat(2, minmax(300px, 1fr)); /*1fr 1fr 1fr;*/
    /* grid-auto-rows: minmax(150px, auto); */
    gap: 2em;
    padding-bottom: 1em;
  }

  .card-wrapper-{{ section.id }} {
    container-type: inline-size;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }

  @media screen and (max-width: 1100px) {
    .product-grid-{{ section.id }} {
      grid-template-columns: repeat(1, minmax(300px, 1fr)); /*1fr 1fr 1fr;*/
      max-width: 545px;
    }
    .card-wrapper-{{ section.id }} {
      max-width: 545px;
    }
  }

  .view-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .view-more a {
  {% comment %} remove underline from link text {% endcomment %}
  color: rgb(var(--color-link));
  text-decoration: none;
  }

  a:hover {
    color: rgb(var(--color-price));
  }

  .product-card-container {
    margin-top: -30px;
  }
{% endstyle %}

{% assign max_products = section.settings.max_rows | times: 2 %}
{% assign title = section.settings.collection.description %}

<section class="color-{{ section.settings.color_scheme }} featured-products section-{{ section.id }} page-width">
  <div class="header-{{ section.id }}">
    {% if section.settings.title_size == 's' %}
      <h3>{{ title }}</h3>
    {% elsif section.settings.title_size == 'm' %}
      <h2>{{ title }}</h2>
    {% elsif section.settings.title_size == 'l' %}
      <h1>{{ title }}</h1>
    {% endif %}
  </div>
  <div class="grid-container-{{ section.id }}">
    <div class="product-grid-{{ section.id }}">
      {% for product in section.settings.collection.products limit: max_products %}
        <div class="card-wrapper-{{ section.id }}">
          {% render 'test-card', product: product %}
        </div>
      {% endfor %}
    </div>
  </div>

  {% if section.settings.view_more %}
    <div class="view-more">
      {{ 'View all >>' | link_to: section.settings.collection.url }}
    </div>
  {% endif %}
</section>
