<!-- sections/promotional-products.liquid -->
{% schema %}
{
  "name": "Promotional Banner",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_2",
      "label": "Color Scheme"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "placeholder": "Title Text Here",
      "default": "Very Creative Heading"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero image"
    },
    {
      "type": "range",
      "id": "hero_image_size",
      "label": "Hero Image Size",
      "min": 100,
      "max": 1000,
      "step": 10,
      "default": 460,
      "unit": "px"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 2
    },
    {
      "type": "range",
      "id": "product_image_size",
      "label": "Product Image Size",
      "min": 100,
      "max": 400,
      "step": 10,
      "default": 250,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "product_gap",
      "label": "Product Card Gap",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 80,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "content_t_padding",
      "label": "Content Top Padding",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "content_b_padding",
      "label": "Content Bottom Padding",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 50,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Promotional Products",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  {% comment %} .promotional-section {

    display: flex;
    flex-direction: row;
    justify-content: center;
  } {% endcomment %}

  .promotional-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow:hidden;
    overflow-y:hidden;
  }

  .product-details {
    width: auto;
    flex-direction: column;
    justify-content: center;
    padding-top: {{ section.settings.content_t_padding }}px;
    padding-bottom: {{ section.settings.content_b_padding }}px;
  }

  .product-heading h1 {
    margin-top: 0;
    margin-bottom: 30px;
    overflow: visible;
  }

  .product-cards {
    display: flex;
    column-gap: {{ section.settings.product_gap }}px;
    row-gap: {{ section.settings.product_gap | divided_by: 2 }}px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product-item {
    flex: 0 1 auto;
  }

  .product-buy-button-{{ section.id }} {
    margin-top: 25px;
  }

  .hero-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
</style>

<div
  class="color-{{ section.settings.color_scheme }} promotional-section"
  data-section-type="promotional-products"
  data-section-id="{{ section.id }}"
>
  <div class="promotional-content">
    <!-- Div1: Title and Products -->
    <div class="product-details">
      <div class="product-heading">
        <h1>{{ section.settings.title | newline_to_br }}</h1>
      </div>

      <div class="product-cards">
        {% for product in section.settings.product_list %}
          <div class="product-item">
            <div class="product-image">
              {{
                product.featured_image
                | image_url: height: section.settings.product_image_size
                | image_tag: alt: product.title
              }}
            </div>
            <div class="product-buy-button-{{ section.id }}">
              {% render 'buy-buttons', product: product %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Div2: Hero Image -->
    <div class="hero-image">
      {{ section.settings.hero_image | image_url: width: section.settings.hero_image_size | image_tag }}
    </div>
  </div>
</div>
